#main {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  max-width: var(--max-width);
  margin: 0 auto;
  color: white;
}

.colunaPlayer {
  display: flex;
  flex-flow: column;
  width: calc(100% - 380px);
  padding: 5px;
}
.coluna {
  display: flex;
  flex-flow: column;
  width: 380px;
  padding: 5px;
}

.linha {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  gap: 5px;
  width: 100%;
  cursor: pointer;
}

.linha:hover {
  background-color: rgb(9, 9, 9);
}

@media screen and (max-width: 950px) {
  #main {
    flex-flow: column;
  }
  .colunaPlayer {
    width: 100%;
  }
  .coluna {
    width: 100%;
  }
}