#main {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  max-width: var(--max-width);
  margin: 0 auto;
}

.colunaPlayer {
  display: flex;
  flex-flow: column;
  width: 68%;
}
.coluna {
  display: flex;
  flex-flow: column;
  width: 32%;
  padding: 5px;
}

.linha {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  gap: 5px;
}