#playerContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#player {
  width: 100%;
  object-fit: cover;
}

#controlesContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  opacity: 0;
  width: 100%;
  flex-flow: column;
  z-index: 999;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.3s ease-in-out;
}

#playerContainer:hover #controlesContainer {
  opacity: 1;
}

#acoesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 0 10px;
  width: 100%;
}

#progressBar {
  width: 100%;
  padding: 0 10px;
}

.controles {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.controle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.controle:hover {
  background-color: rgba(255, 255, 255, 0.134);
}

.menuItems {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 7px 10px 7px 15px;
}

.subMenuItems {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 7px 15px;
}

.menuItems:hover {
  background-color: rgba(255, 255, 255, 0.134);
}

