.slideContainer {
  position: relative;
}

.cardFlmeOuCanal:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.shadowRight {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 180px;
  background: linear-gradient(
    90deg,
    rgba(255, 22, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.shadowLeft {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 180px;
  background: linear-gradient(
    270deg,
    rgba(255, 22, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.titulo{
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}

@media (max-width: 508px) {
  .shadowLeft {
    width: 30px;
    height: 130px;
  }
  .shadowRight {
    width: 30px;
    height: 130px;
  }
}